<div class="container">
  <div class="p-3">
    <div class="row mb-2">
      <div class="col">
        <h2 mat-dialog-title>Nuevo cliente</h2>
      </div>
      <div class="col-1 float-right">
        <button mat-button mat-dialog-close class="btn p-0 cross-button" tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <mat-dialog-content class="mat-typography">
      <form [formGroup]="createUserForm">
        <div class="row mt-2">
          <div class="col">
            <mat-form-field>
              <input maxlength="100" matInput id="firstName" name="firstName" formControlName="firstName"
                placeholder="Nombre" required autofocus>
              <mat-error>
                {{errors.requiredFirstName}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input maxlength="100" matInput id="lastName" name="lastName" formControlName="lastName"
                placeholder="Apellido" required>
              <mat-error>
                {{errors.requiredLastName}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>



        <div class="row">
          <div class="col">
            <mat-form-field>
              <input maxlength="100" matInput id="email" name="email" required placeholder="Email"
                formControlName="email">
              <mat-error *ngIf="createUserForm.get('email').hasError('required')"> {{errors.requiredEmail}}
              </mat-error>
              <mat-error *ngIf="createUserForm.get('email').hasError('pattern')"> {{errors.incorrectEmail}}
              </mat-error>
            </mat-form-field>
          </div>

        </div>

        <div class="row mb-2">
          <div class="col">
            <mat-form-field>
              <mat-select name="role" placeholder="Rol" required formControlName="role">
                <mat-option *ngFor="let role of roles" [value]="role.code">{{ role.description }}</mat-option>
              </mat-select>
              <mat-error>
                {{errors.requiredRole}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>


      </form>
    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions align="end">
      <div class="row mt-2">
        <div>
          <button class="btn btn-outline-primary btn-md mr-3" type="button" mat-dialog-close>Cancelar</button>
          <button class="btn btn-primary btn-md mr-3" type="button" [disabled]="createUserForm.invalid" (click)="createNewUser()">Aceptar</button>

        </div>
      </div>
    </mat-dialog-actions>
  </div>
</div>