mat-form-field{
    width: 100%;
}

button {
    font-size: 14px;
}

.form-cupos {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding-top: 10px;
}
  
.cupos-full-width {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.check {
    justify-content: flex-start;
    margin-bottom: 10px;
}

.check-transportadora {
    justify-content: flex-start;
    margin-top: 15px;
}

.excepcion {
    margin-top: 10px;
}

/* GUIAS */
.marco {
    border: magenta 1px solid;
}

.marco2 {
    border: cyan 1px solid;
}

.marco3 {
    border: black 1px solid;
}
/* .excepcion-detail{
    padding-left: 10px;
    padding-right: 10px;
} */